.weather-block {}

.weather-block .location-info{
  font-size: 1.5em;
}

.weather-block .item{
  clear: both;
  margin: 10px 0;
}

.weather-block .item .name{
  font-weight: bolder;
}

.weather-block .item .image{
  float: left;
  margin-right: 15px;
}

