{#

Description text for the Render API Example.

#}
<div class="weather-block">
  <div class="location-info">
    <span class="city">{{ city }}</span>, <span class="state">{{ state }}</span>
  </div>
  <div class="forecast">
    {% for period in periods %}
      <div class="item" title="{{ period.detailedForecast }}">
        <div class="name">{{ period.name }}</div>
        <div class="image"><img src="{{ period.icon }}"
                                alt="{{ period.shortForecast }}"
                                ></div>
        <div class="temp">
          <span class="label">{{ 'Temperature'|t }}:</span>
          {{ period.temperature }}°{{ period.temperatureUnit }}</div>
        <div class="wind">
          <span class="label">{{ 'Wind'|t }}:</span>
          {{ period.windDirection }}, {{ period.windSpeed }}</div>
        <div class="desc">{{ period.shortForecast }}</div>
        <div class="clearfix"></div>
      </div>
    {% endfor %}
  </div>
</div>
